/* 
    Document   : stylesheet
    Created on : 26-ago-2013, 17:36:47
    Author     : Fer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;

}

h1,h2,h3{
    color:#006699;
}

div {
    border: 0px solid black;
}

#dropzone {
    background-color: #CCCCCC;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background-color: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.fc-event:hover{
    cursor: pointer;
}